.app {
	display: flex;
	flex-flow: column;
	height: 100vh;

	&__spacer {
		flex: 1 1 auto;
	}

	&__sidenav.mat-drawer {
		width: 250px;
	}

	&__sidenav-container {
		flex: 1;
	}

	&__content-container {
		display: flex;
		flex-flow: column;
		min-height: 100%;
	}
	&__content {
		display: flex;
		flex: 1 1 auto;
		padding: 15px;
	}

	&__footer {
		text-align: center;
		width: 100%;
	}

	&__footer-content {
		padding: 12px;
	}
}
